% -*- mode: erlang -*-
{deps, [{meck, ".*",
         {git, "git://github.com/esl/meck.git"}},
        {amqp_client, ".*",
         {git, "git://github.com/dreid/amqp_client.git", "2.5.1"}},
        {rabbit_common, ".*",
         {git, "git://github.com/dreid/rabbit_common.git", "2.5.1"}}]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used]}.
