% -*- mode: erlang -*-
{deps, [{gen_bunny, ".*",
         {git, "git://github.com/dreid/gen_bunny.git", ""}},
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", ""}},
        {lhttpc, ".*",
         {git, "git://github.com/dreid/lhttpc.git", ""}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
