% -*- mode: erlang -*-

{deps_dir, "../deps"}.
{deps, [{gen_bunny, ".*", {git, "../", "HEAD"}},
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", "master"}},
        {lhttpc, ".*",
         {git, "git://github.com/dreid/lhttpc.git", "master"}}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_compile_opts, [{src_dirs, ["../src"]}, {i, "../include"}]}.
